{% extends "real/base.html" %}
{% load static %}


<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->



{% block content %}
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="layout-wrap background-F9F9F9">
            <!-- main-content -->
            <div class="main-content">

                <!-- flat-title -->
                <div class="flat-title agency-single">
                    <div class="cl-container full">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <h2>Ali Tufan</h2>
                                    <ul class="breadcrumbs">
                                        <li>Company Agent at <span>The James Estate Agents</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /flat-title -->
    
                <!-- agency-single-wrap -->
                <div class="agency-single-wrap">
                    <div class="cl-container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="wrap-inner">
                                    <h4 class="wow fadeInUp">About Ali Tufan</h4>
                                    <p class="wow fadeInUp">
                                        Enchanting three bedroom, three bath home with spacious one bedroom, one bath cabana, in-laws quarters. Charming living area features fireplace and fabulous art deco details. Formal dining room. 
                                        <br><br>
                                        Remodeled kitchen with granite countertops, white cabinetry and stainless appliances. Lovely master bedroom has updated bath, beautiful view of the pool. Guest bedrooms have walk-in, cedar closets. Delightful backyard; majestic oaks surround the free form pool and expansive patio, wet bar and grill.
                                    </p>
                                    <h4 class="wow fadeInUp">My Listings</h4>
                                    <div class="grid-box-dream">
                                        <div class="box-dream has-border wow fadeInUp">
                                            <div class="image">
                                                <div class="list-tags">
                                                    <a href="#" class="tags-item for-sell">FOR SELL</a>
                                                </div>
                                                <div class="button-heart"><i class="flaticon-heart-1"></i></div>
                                                <img class="w-full" src="{% static 'real/images/house/home-1.jpg' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="head">
                                                    <div class="title">
                                                        <a href="property-single-v1.html">Villa One Hyde Park</a>
                                                    </div>
                                                    <div class="price">$815,000</div>
                                                </div>
                                                <div class="location">
                                                    <div class="icon">
                                                        <i class="flaticon-location"></i>
                                                    </div>
                                                    <p>148-37 88th Ave, Jamaica, NY 11435</p>
                                                </div>
                                                <div class="icon-box">
                                                    <div class="item">
                                                        <i class="flaticon-hotel"></i>
                                                        <p>4 Beds</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-bath-tub"></i>
                                                        <p>3 Baths</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-minus-front"></i>
                                                        <p>2660 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-dream has-border wow fadeInUp" data-wow-delay="0.1s">
                                            <div class="image">
                                                <div class="list-tags">
                                                    <a href="#" class="tags-item for-sell">FOR SELL</a>
                                                </div>
                                                <div class="button-heart"><i class="flaticon-heart-1"></i></div>
                                                <img class="w-full" src="{% static 'real/images/house/home-2.jpg' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="head">
                                                    <div class="title">
                                                        <a href="property-single-v1.html">Home Pitt Street</a>
                                                    </div>
                                                    <div class="price">$815,000</div>
                                                </div>
                                                <div class="location">
                                                    <div class="icon">
                                                        <i class="flaticon-location"></i>
                                                    </div>
                                                    <p>148-37 88th Ave, Jamaica, NY 11435</p>
                                                </div>
                                                <div class="icon-box">
                                                    <div class="item">
                                                        <i class="flaticon-hotel"></i>
                                                        <p>4 Beds</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-bath-tub"></i>
                                                        <p>3 Baths</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-minus-front"></i>
                                                        <p>2660 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-dream has-border wow fadeInUp">
                                            <div class="image">
                                                <div class="list-tags">
                                                    <a href="#" class="tags-item for-sell">FOR SELL</a>
                                                    <a href="#" class="tags-item featured">FEATURED</a>
                                                </div>
                                                <div class="button-heart"><i class="flaticon-heart-1"></i></div>
                                                <img class="w-full" src="{% static 'real/images/house/home-3.jpg' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="head">
                                                    <div class="title">
                                                        <a href="property-single-v1.html">Archer House</a>
                                                    </div>
                                                    <div class="price">$815,000</div>
                                                </div>
                                                <div class="location">
                                                    <div class="icon">
                                                        <i class="flaticon-location"></i>
                                                    </div>
                                                    <p>148-37 88th Ave, Jamaica, NY 11435</p>
                                                </div>
                                                <div class="icon-box">
                                                    <div class="item">
                                                        <i class="flaticon-hotel"></i>
                                                        <p>4 Beds</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-bath-tub"></i>
                                                        <p>3 Baths</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-minus-front"></i>
                                                        <p>2660 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-dream has-border wow fadeInUp" data-wow-delay="0.1s">
                                            <div class="image">
                                                <div class="list-tags">
                                                    <a href="#" class="tags-item for-sell">FOR SELL</a>
                                                    <a href="#" class="tags-item featured">FEATURED</a>
                                                </div>
                                                <div class="button-heart"><i class="flaticon-heart-1"></i></div>
                                                <img class="w-full" src="{% static 'real/images/house/home-4.jpg' %}" alt="">
                                            </div>
                                            <div class="content">
                                                <div class="head">
                                                    <div class="title">
                                                        <a href="property-single-v1.html">Villa One Hyde Park</a>
                                                    </div>
                                                    <div class="price">$815,000</div>
                                                </div>
                                                <div class="location">
                                                    <div class="icon">
                                                        <i class="flaticon-location"></i>
                                                    </div>
                                                    <p>148-37 88th Ave, Jamaica, NY 11435</p>
                                                </div>
                                                <div class="icon-box">
                                                    <div class="item">
                                                        <i class="flaticon-hotel"></i>
                                                        <p>4 Beds</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-bath-tub"></i>
                                                        <p>3 Baths</p>
                                                    </div>
                                                    <div class="item">
                                                        <i class="flaticon-minus-front"></i>
                                                        <p>2660 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="reviews-wrap">
                                        <div class="flex justify-between items-center mb-40 wow fadeInUp">
                                            <h4 class="mb-0">4 Reviews</h4>
                                            <a href="#" class="tf-button-green">Leave a Review</a>
                                        </div>
                                        <ul>
                                            <li class="wow fadeInUp">
                                                <div class="image">
                                                    <img src="{% static 'real/images/author/author-5.png' %}" alt="">
                                                </div>
                                                <div class="content">
                                                    <div class="ratings">
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                    </div>
                                                    <div class="name">
                                                        <a href="#">Jane Cooper</a>
                                                    </div>
                                                    <div class="time">April 06, 2024 at 7:55 pm</div>
                                                    <p>Beautiful home, very picturesque and close to everything in jtree! A little warm for a hot weekend, but would love to come back during the cooler seasons!</p>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp">
                                                <div class="image">
                                                    <img src="{% static 'real/images/author/author-6.png' %}" alt="">
                                                </div>
                                                <div class="content">
                                                    <div class="ratings">
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                        <i class="flaticon-star-1"></i>
                                                    </div>
                                                    <div class="name">
                                                        <a href="#">Jane Cooper</a>
                                                    </div>
                                                    <div class="time">April 06, 2024 at 7:55 pm</div>
                                                    <p>Beautiful home, very picturesque and close to everything in jtree! A little warm for a hot weekend, but would love to come back during the cooler seasons!</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="leave-a-review">
                                        <h4 class="wow fadeInUp">Leave A Review</h4>
                                        <p class="wow fadeInUp">Your email address will not be published. Required fields are marked *</p>
                                        <div>
                                            <p class="wow fadeInUp">Your Rating *</p>
                                            <div class="ratings wow fadeInUp">
                                                <i class="flaticon-star-1"></i>
                                                <i class="flaticon-star-1"></i>
                                                <i class="flaticon-star-1"></i>
                                                <i class="flaticon-star-1"></i>
                                                <i class="flaticon-star-1"></i>
                                            </div>
                                        </div>
                                        <form class="form-comment">
                                            <fieldset class="message wow fadeInUp has-top-title">
                                                <textarea name="message" rows="4" placeholder="Your Comment" class="" tabindex="2" aria-required="true" required="">Lorem Ipsum</textarea>
                                                <label for="">Your Comment</label>
                                            </fieldset> 
                                            <div class="cols">
                                                <fieldset class="name wow fadeInUp has-top-title">
                                                    <input type="text" placeholder="Name" class="" name="text" tabindex="2" value="Ali Tufan" aria-required="true" required="">
                                                    <label for="">Name</label>
                                                </fieldset>
                                                <fieldset class="email wow fadeInUp has-top-title">
                                                    <input type="email" placeholder="Email" class="" name="email" tabindex="2" value="themesflat@gmail.com" aria-required="true" required="">
                                                    <label for="">Email</label>
                                                </fieldset>
                                            </div>
                                            <fieldset class="website wow fadeInUp has-top-title">
                                                <input type="text" placeholder="Website" class="" name="text" tabindex="2" value="" aria-required="true" required="">
                                                <label for="">Website</label>
                                            </fieldset>
                                            <div class="checkbox-item wow fadeInUp">
                                                <label>
                                                    <p>I agree to all Term, Privacy Polic and fees</p>
                                                    <input type="checkbox">
                                                    <span class="btn-checkbox"></span>
                                                </label>
                                            </div>
                                            <div class="button-submit wow fadeInUp">
                                                <button class="tf-button-primary" type="submit">Submit Review <i class="icon-arrow-right-add"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="sidebar">
                                    <div class="sidebar-item sidebar-info">
                                        <div class="image">
                                            <img src="{% static 'real/images/sidebar/img-2.jpg' %}" alt="">
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="title">Address:</div>
                                                <p>560 3rd Ave, New York,</p>
                                            </li>
                                            <li>
                                                <div class="title">Office phone:</div>
                                                <p>+7778889992</p>
                                            </li>
                                            <li>
                                                <div class="title">Mobile phone:</div>
                                                <p>+7778889992</p>
                                            </li>
                                            <li>
                                                <div class="title">Email:</div>
                                                <p>+7778889992</p>
                                            </li>
                                            <li>
                                                <div class="title">Socail</div>
                                                <div class="wg-social style-black">
                                                    <ul class="list-social">
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-instagram"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-linkedin2"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>  
                                    <div class="sidebar-item sidebar-contact-info-1">
                                        <div class="sidebar-title">Contact Me</div>
                                        <div class="contact-info mb-0">
                                            <form class="form-comment">
                                                <fieldset class="name has-top-title">
                                                    <input type="text" placeholder="Name" class="" name="text" tabindex="2" value="Ali Tufan" aria-required="true" required="">
                                                    <label for="">Name</label>
                                                </fieldset>
                                                <fieldset class="phone has-top-title">
                                                    <input type="number" placeholder="Phone" class="" name="number" tabindex="2" value="" aria-required="true" required="">
                                                    <label for="">Phone</label>
                                                </fieldset>
                                                <fieldset class="email has-top-title">
                                                    <input type="email" placeholder="Email" class="" name="email" tabindex="2" value="" aria-required="true" required="">
                                                    <label for="">Email</label>
                                                </fieldset>
                                                <fieldset class="message has-top-title">
                                                    <textarea name="message" rows="4" placeholder="Message" class="" tabindex="2" aria-required="true" required=""></textarea>
                                                    <label for="">Message</label>
                                                </fieldset>
                                                <div class="button-submit">
                                                    <button class="tf-button-primary w-full" type="submit">Send Message<i class="icon-arrow-right-add"></i></button>
                                                </div>
                                                <div class="flex gap20">
                                                    <a href="#" class="tf-button-primary w-full style-bg-white">Call<i class="flaticon-phone"></i></a>
                                                    <a href="#" class="tf-button-primary w-full style-bg-white">WhatsApp<i class="flaticon-whatsapp"></i></a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>   
                                    <div class="wrap-map-v1">
                                        <div id="map-1" class="row-height" data-map-zoom="16" data-map-scroll="true"></div>
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /agency-single-wrap -->

            </div>
            <!-- /main-content -->
{% endblock content %}
 