
{% extends 'real/base.html  ' %}
{% load static %}
{% load humanize %}

{% block content %}





            <!-- main-content -->
            <div class="main-content default">

                <!-- property-single-wrap -->
                <div class="property-single-wrap v4">
                    <div class="cl-container">
                        <div class="row">
                            <div class="col-12">
                                
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container slider-3-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{{ property.photo_main.url }}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ property.photo_2.url }}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ property.photo_3.url }}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ property.photo_4.url }}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ property.photo_5.url }}" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{ property.photo_6.url }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="cl-container">
                        <div class="row">
                            <div class="col-xl-8">
                                <div class="content-wrap">
                                    <div class="head-title">
                                        <div>
                                            <div class="list-tags wow fadeInUp">
                                                <a href="#" class="tags-item for-sell">FOR SALE</a>
                                                <a href="#" class="tags-item featured">FEATURED</a>
                                            </div>
                                            <h3 class="wow fadeInUp">{{ property.title }}</h3>
                                            <div class="location wow fadeInUp">
                                                <div class="icon">
                                                    <i class="flaticon-location"></i>
                                                </div>
                                                <div class="text-content">{{ property.address }},{{ property.state }},{{ property.zipcode }}</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="square wow fadeInUp">{{ property.sqft }}/sq ft</div>
                                            <div class="price wow fadeInUp">₦{{ property.price |intcomma }}</div>
                                        </div>
                                    </div>
                                    <div class="box-items">
                                        <div class="item wow fadeInUp">
                                            <div class="icon">
                                                <i class="flaticon-city"></i>
                                            </div>
                                            <div class="text-content">Multi Family</div>
                                        </div>
                                        <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                            <div class="icon">
                                                <i class="flaticon-hammer"></i>
                                            </div>
                                            <div class="text-content">Luxury Home</div>
                                        </div>
                                        <div class="item wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="icon">
                                                <i class="flaticon-minus-front"></i>
                                            </div>
                                            <div class="text-content">{{ property.sqft }} Sq/Ft</div>
                                        </div>
                                        <div class="item wow fadeInUp">
                                            <div class="icon">
                                                <i class="flaticon-hotel"></i>
                                            </div>
                                            <div class="text-content">{{ property.bedrooms }} Bedroom(s)</div>
                                        </div>
                                        <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                            <div class="icon">
                                                <i class="flaticon-bath-tub"></i>
                                            </div>
                                            <div class="text-content">{{ property.bathrooms }} Bathroom(s)</div>
                                        </div>
                                        <div class="item wow fadeInUp" data-wow-delay="0.2s">
                                            <div class="icon">
                                                <i class="flaticon-garage"></i>
                                            </div>
                                            <div class="text-content">{{ property.garage }} Garage</div>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h4 class="wow fadeInUp">Description</h4>
                                        <p class="wow fadeInUp">
                                        {{ property.description|linebreaksbr|safe }}    
                                        </p>
                                    </div>
                                    <div class="address">
                                        <div class="flex items-center justify-between gap30 flex-wrap wow fadeInUp">
                                            <h4 class="mb-0">Address</h4>
                                            <a href="{{ property.google_profile_url }}" class="tf-button-green"><i class="flaticon-location"></i>Open On Google Maps</a>
                                        </div>
                                        <div class="list-item">
                                            <div class="item wow fadeInUp">
                                                <div class="text">Address</div>
                                                <p>{{ property.address }}</p>
                                            </div>
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Zip/Postal Code</div>
                                                <p>{{ property.zipcode }}</p>
                                            </div>
                                            <div class="item wow fadeInUp">
                                                <div class="text">City</div>
                                                <p>{{ property.city }}</p>
                                            </div>
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Condition</div>
                                                <p>Well-maintained</p>
                                            </div>
                                            <div class="item wow fadeInUp">
                                                <div class="text">State</div>
                                                <p>{{ property.state }}</p>
                                            </div>
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Country</div>
                                                <p>Nigeria</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="attachments">
                                        <h4 class="wow fadeInUp">Property Attachments</h4>
                                        <div class="wrap-file-item wow fadeInUp">
                                            <a href="#" class="file-item">
                                                <div class="icon">
                                                    <img src="{% static 'real/images/image-box/file-pdf.svg' %}" alt="">
                                                </div>
                                                <div>
                                                    <div class="name">Ultra-Demo-PDF File</div>
                                                    <div class="size">140.56 kb</div>
                                                </div>
                                            </a>
                                            <a href="#" class="file-item">
                                                <div class="icon">
                                                    <img src="{% static 'real/images/image-box/file-pdf.svg' %}" alt="">
                                                </div>
                                                <div>
                                                    <div class="name">Ultra-Demo-PDF File</div>
                                                    <div class="size">140.56 kb</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h4 class="wow fadeInUp">Details</h4>
                                        <div class="list-item">
                                            
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Garage:</div>
                                                <p>1</p>
                                            </div>
                                            <div class="item wow fadeInUp">
                                                <div class="text">Price:</div>
                                                <p>{{ property.price|intcomma }}</p>
                                            </div>
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Garage Size:</div>
                                                <p>200 SqFt</p>
                                            </div>
                                            <div class="item wow fadeInUp">
                                                <div class="text">Property Size:</div>
                                                <p>{{ property.sqft }} Sq Ft</p>
                                            </div>
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Year Built:</div>
                                                <p>2024</p>
                                            </div>
                                            <div class="item wow fadeInUp">
                                                <div class="text">Bedrooms:</div>
                                                <p>{{ property.bedrooms }}</p>
                                            </div>
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Property Type:</div>
                                                <p>Apartment</p>
                                            </div>
                                            <div class="item wow fadeInUp">
                                                <div class="text">Bathrooms:</div>
                                                <p>{{ property.bathrooms }}</p>
                                            </div>
                                            <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                <div class="text">Property Status:</div>
                                                <p>For Sale</p>
                                            </div>                                            
                                        </div>
                                    </div>
                                  <div class="plans">
                                        <h4 class="wow fadeInUp">Floor Plans</h4>
                                        <div class="widget-tabs style-3">
                                            <ul class="widget-menu-tab wow fadeInUp">
                                                <li class="item-title active">
                                                    <span class="inner">First Floor</span>
                                                </li>
                                                <li class="item-title">
                                                    <span class="inner">Second Floor</span>
                                                </li>
                                                <li class="item-title">
                                                    <span class="inner">Third Floor</span>
                                                </li>
                                            </ul>
                                            <div class="widget-content-tab">
                                                <div class="widget-content-inner active">
                                                    <div class="icons">
                                                        <div class="item wow fadeInUp">
                                                            <i class="flaticon-hotel"></i>
                                                            <div class="text">Bedrooms</div>
                                                            <p>{{ property.bedrooms }}</p>
                                                        </div>
                                                        <div class="item wow fadeInUp" data-wow-delay="0.1s">
                                                            <i class="flaticon-bath-tub"></i>
                                                            <div class="text">{{ property.bathrooms }}</div>
                                                            <p>2</p>
                                                        </div>
                                                        <div class="item wow fadeInUp" data-wow-delay="0.2s">
                                                            <i class="flaticon-minus-front"></i>
                                                            <div class="text">Size</div>
                                                            <p>{{ property.sqft }} SqFt</p>
                                                        </div>
                                                        <div class="item wow fadeInUp" data-wow-delay="0.3s">
                                                            <i class="flaticon-tag"></i>
                                                            <div class="text">Price</div>
                                                            <p>{{ property.price |intcomma }}</p>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="widget-content-inner">
                                                    <div class="icons">
                                                        <div class="item">
                                                            <i class="flaticon-hotel"></i>
                                                            <div class="text">Bedrooms</div>
                                                            <p>{{ property.bedrooms }}</p>
                                                        </div>
                                                        <div class="item">
                                                            <i class="flaticon-bath-tub"></i>
                                                            <div class="text">Bathrooms</div>
                                                            <p>{{ property.bathrooms }}</p>
                                                        </div>
                                                        <div class="item">
                                                            <i class="flaticon-minus-front"></i>
                                                            <div class="text">Size</div>
                                                            <p>{{ property.sqft }} SqFt</p>
                                                        </div>
                                                        <div class="item">
                                                            <i class="flaticon-tag"></i>
                                                            <div class="text">Price</div>
                                                            <p>{{ property.price |intcomma }}</p>
                                                        </div>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet, homero debitis temporibus in mei, at sit voluptua antiopam hendrerit. Lorem epicuri eu per. Mediocrem torquatos deseruisse te eum commodo.</p>
                                                    <img src="{% static 'real/images/section/blueprint-1.png' %}" alt="">
                                                </div>
                                                <div class="widget-content-inner">
                                                    <div class="icons">
                                                        <div class="item">
                                                            <i class="flaticon-hotel"></i>
                                                            <div class="text">Bedrooms</div>
                                                            <p>{{ property.bedrooms}}</p>
                                                        </div>
                                                        <div class="item">
                                                            <i class="flaticon-bath-tub"></i>
                                                            <div class="text">Bathrooms</div>
                                                            <p>{{ property.bathrooms }}</p>
                                                        </div>
                                                        <div class="item">
                                                            <i class="flaticon-minus-front"></i>
                                                            <div class="text">Size</div>
                                                            <p>{{ property.sqft }} SqFt</p>
                                                        </div>
                                                        <div class="item">
                                                            <i class="flaticon-tag"></i>
                                                            <div class="text">Price</div>
                                                            <p>{{ property.price |intcomma }}</p>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="video">
                                        <h4 class="wow fadeInUp">Video</h4>
                                        <div class="video-wrap">
                                            <img src="{% static 'real/images/image-box/video-2.jpg' %}" alt="">
                                            <a href="{{ property.youtube_video_url }}" class="popup-youtube">
                                                <div class="icon">
                                                    <i class="flaticon-play"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <div class="property-single-sidebar">
                                    <div class="sidebar-item sidebar-schedule">
                                        
                                    <div class="sidebar-item sidebar-contact-info">
                                        <div class="sidebar-title">Contact Information</div>
                                        <div class="contact-info">
                                            <div class="person">
                                                <div class="image">
                                                    <img src="{% static 'real\images\author\jayproimage.jpg' %}" alt="">
                                                </div>
                                                <div class="content">
                                                    <div class="name">
                                                        <a href="#">Jaypro</a>
                                                    </div>
                                                    <p>sale@Jayprogroup.com</p>
                                                    <p>+234 701 298 0000</p>
                                                </div>
                                            </div>
                                                                                        <form class="form-comment" id="contactForm">
                                            <fieldset class="message has-top-title">
                                                <textarea name="message" rows="4" placeholder="Message" required></textarea>
                                                <label for="">KIndly write your inquiry here</label>
                                            </fieldset>
                                            <div class="button-submit">
                                                <button class="tf-button-primary w-full" type="submit">Send Message<i class="icon-arrow-right-add"></i></button>
                                            </div>

                                        
                                                <div class="wg-social style-black">
                                                    <ul class="list-social">
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-facebook"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-twitter"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-instagram"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <i class="icon-linkedin2"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            
                                            <div class="flex gap20">
                                            <a href="#" class="tf-button-primary w-full style-bg-white">Call<i class="flaticon-phone"></i></a>
                                            <a href="https://wa.me/+2347012980000" class="tf-button-primary w-full style-bg-white">WhatsApp<i class="flaticon-whatsapp"></i></a>
                                            </div>
                                            </form>

                                            <script>
                                            document.getElementById('contactForm').addEventListener('submit', function(event) {
                                                event.preventDefault(); // Prevent form from submitting normally

                                                const message = this.message.value.trim();
                                                if (!message) {
                                                alert('Please enter a message.');
                                                return;
                                                }

                                                const phoneNumber = '+2347012980000'; // <-- Put your WhatsApp number here, e.g., 
                                                const whatsappURL = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;

                                                // Open WhatsApp in a new tab
                                                window.open(whatsappURL, '_blank');
                                            });
                                            </script>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /property-single-wrap -->

            </div>
            <!-- /main-content -->
{% endblock %}


