


{% extends 'real/base.html  ' %}
{% load static %}
{% load humanize %}

{% block content %}






                <div class="flat-title page-property-grid-2">
                    <div class="cl-container">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <h2 class="wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Real Estate &amp; Homes For Sale</h2>
                                    
                                    <div class="form-filter wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                                      
                                        <form class="form-search-home5" form action="{%  url 'searchh' %}" >
                                          
                                            <div class="list">
                                                <div class="group-form form-search-content">
                                                  
                                                    <div class="form-style-has-title">
                                                      
                                                        <div class="title">Keyword</div>
                                                        <div class="relative">
                                                            <fieldset class="name">
                                                                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)" value="{{ values.keywords }}">
                                                            </fieldset>
                                                            <div class="style-absolute-right">
                                                                <div class="style-icon-default"><i class="flaticon-magnifiying-glass"></i></div>
                                                            </div>
                                                            <div class="box-content-search style-1">
                                                                <ul>
                                                                    <li>
                                                                        <div class="item1">
                                                                            <div>
                                                                                <div class="image">
                                                                                    <img src="/static/real/images/author/avatar-8.png" alt="">
                                                                                </div>
                                                                                <p>Archer House</p>
                                                                            </div>
                                                                            <div class="text">For Sale</div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item1">
                                                                            <div>
                                                                                <div class="image">
                                                                                    <img src="/static/real/images/author/avatar-7.png" alt="">
                                                                                </div>
                                                                                <p>Home Pitt Street</p>
                                                                            </div>
                                                                            <div class="text">For Rent</div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item1">
                                                                            <div>
                                                                                <div class="image">
                                                                                    <img src="/static/real/images/author/avatar-9.png" alt="">
                                                                                </div>
                                                                                <p>Villa One Hyde Park</p>
                                                                            </div>
                                                                            <div class="text">For Rent</div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="item1">
                                                                            <div>
                                                                                <div class="image">
                                                                                    <img src="/static/real/images/author/avatar-10.png" alt="">
                                                                                </div>
                                                                                <p>House on the beverly hills</p>
                                                                            </div>
                                                                            <div class="text">For Sale</div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="divider-1"></div>
                                                <div class="group-form">
                                                    <div class="form-style-has-title">
                                                        <div class="title">States</div>
                                                        
                                                           
                                                           <select name="state" class="form-control">
                                                              <option selected="true" disabled="disabled">State (All)</option>
                                                              {% for key,value in state_choices.items %}

                                                                      <option value="{{ key }}" {% if key == values.state %} selected {% endif %}>{{ value }}</option>

                                                                  {% endfor %}
                                                            </select>
                                                     
                                                    </div>
                                                </div>
                                                <div class="divider-1"></div>
                                                <div class="group-form">
                                                    <div class="form-style-has-title">
                                                        <div class="title">Price</div>
                                                        
                                                        <select name="price" class="form-control">
                                                          <option selected="true" disabled="disabled">Max Price (All)</option>
                                                          {% for key,value in price_choices.items %}

                                                                  <option value="{{ key }}" {% if key == values.price %} selected {% endif %}>{{ value }}</option>

                                                            {% endfor %}
                                                        </select>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex gap10">
                                                
                                                <div class="group-form">
                                                    <div class="button-submit">
                                              <button class="" type="submit">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          
                


                    <div class="main-content px-20">
                        <div class="row">
                            {% if listings  %}
                            {% for  listing in listings %}
                            <div class="col-xl-3 col-md-6">
                                <div class="box-dream style-1 wow fadeInUp">
                                    <div class="image">
                                        <div class="list-tags">
                                            <a href="{% url 'property' listing.id  %}" class="tags-item for-sell">VIEW</a>
                                            <a href="#" class="tags-item featured">FEATURED</a>
                                        </div>
                                        <div class="button-heart"><i class="flaticon-heart-1"></i></div>
                                        <div class="swiper-container slider-box-dream arrow-style-1 pagination-style-1">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="">
                                                        <img class="" src="{{ listing.photo_main.url }}" alt="">
                                                    </div>
                                                </div>
                                                {% comment %} <div class="swiper-slide">
                                                    <div class="">
                                                        <img class="" src="images/house/property-listing-2.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="">
                                                        <img class="" src="images/house/property-listing-3.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="">
                                                        <img class="" src="images/house/property-listing-4.jpg" alt="">
                                                    </div>
                                                </div> {% endcomment %}
                                            </div>
                                            <div class="swiper-pagination box-dream-pagination"></div>
                                            <div class="box-dream-next swiper-button-next"></div>
                                            <div class="box-dream-prev swiper-button-prev"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="head">
                                            <div class="price">₦ {{ listing.price | intcomma }}</div>
                                            <div class="title">
                                                <a href="{% url 'property' listing.id  %}">{{ listing.title }}</a>
                                            </div>
                                        </div>
                                        <div class="location">
                                            <div class="icon">
                                                <i class="flaticon-location"></i>
                                            </div>
                                            <p> {{ listing.city }} {{listing.state }} {{ listing.zipcode }}</p>
                                        </div>
                                        <div class="icon-box">
                                            <div class="item">
                                                <i class="flaticon-hotel"></i>
                                                <p>{{ listing.bedrooms }}</p>
                                            </div>
                                            <div class="item">
                                                <i class="flaticon-bath-tub"></i>
                                                <p>{{ listing.bathrooms }}</p>
                                            </div>
                                            <div class="item">
                                                <i class="flaticon-minus-front"></i>
                                                <p>{{ listing.sqft }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                                <div class="col-md-12">
                                <p>No Listing Available</p>
                                </div>
                            {% endif %}
                            
                        <div class="row">
                            <div class="col-12">
                                {% if listings.has_other_pages %}
                                <ul class="wg-pagination justify-center wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;padding-bottom: 30px;" >

                                    <!-- Previous Button -->
                                    {% if listings.has_previous %}
                                    <li>
                                        <a href="?page={{ listings.previous_page_number }}"><i class="icon-keyboard_arrow_left"></i></a>
                                    </li>
                                    {% else %}
                                    <li class="disabled">
                                        <span><i class="icon-keyboard_arrow_left"></i></span>
                                    </li>
                                    {% endif %}

                                    <!-- Page Numbers with Ellipsis -->
                                    {% for i in listings.paginator.page_range %}
                                        {% if i == 1 or i == listings.paginator.num_pages or i >= listings.number|add:'-2' and i <= listings.number|add:'2' %}
                                            {% if listings.number == i %}
                                                <li class="active">
                                                    <a href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="?page={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% elif i == 2 and listings.number > 4 or i == listings.paginator.num_pages|add:'-1' and listings.number < listings.paginator.num_pages|add:'-3' %}
                                            <li><span>...</span></li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Next Button -->
                                    {% if listings.has_next %}
                                    <li>
                                        <a href="?page={{ listings.next_page_number }}"><i class="icon-keyboard_arrow_right"></i></a>
                                    </li>
                                    {% else %}
                                    <li class="disabled">
                                        <span><i class="icon-keyboard_arrow_right"></i></span>
                                    </li>
                                    {% endif %}

                                </ul>
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /property-grid -->

            </div>
</div>
            <!-- /main-content -->
{% endblock %}