aiohappyeyeballs
aiohttp
aiohttp_socks
aiosignal
amqp
asgiref
async-timeout
attrs
autopep8
Babel
beautifulsoup4
billiard
bleach
blinker
Brotli
bs4
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
colorama
comtypes
crispy-bootstrap5
cssselect2
Deprecated
distlib
dj-database-url
Django
django-celery-beat
django-cities
django-ckeditor-5
django-cors-headers
django-crispy-forms
django-environ
django-extensions
django-geojson
django-heroku
django-js-asset
django-leaflet
django-model-utils
django-money
django-multiupload
django-mysql
django-summernote
django-taggit
django-template-maths
django-timezone-field
django-translation-flags
djangorestframework
djangorestframework-simplejwt
et_xmlfile
facenet-pytorch
filelock
Flask
Flask-Mail
fonttools
frozenlist
fsspec
gunicorn
idna
itsdangerous
Jinja2
kombu
MarkupSafe
mpmath
multidict
mysqlclient
networkx
numpy
opencv-contrib-python
opencv-python
openpyxl
packaging
pandas
Pillow
platformdirs
prompt-toolkit
propcache
psycopg2
psycopg2-binary
py-moneyed
pybase64
pycodestyle
pycparser
pydyf
pygame
PyJWT
pyparsing
pyphen
pypiwin32
python-crontab
python-dateutil
python-decouple
python-dotenv
python-socks
pyttsx3
pytz
pywin32
redis
reportlab
requests
six
soupsieve
sqlparse
swapper
sympy
tinycss2
tinyhtml5
toml
torch
torchvision
tqdm
typing_extensions
tzdata
Unipath
urllib3
vine
virtualenv
wcwidth
weasyprint
webencodings
Werkzeug
whitenoise
wrapt
yarl
zopfli
